html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
}
canvas#map {
  display: block;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}
canvas#map[hidden] {
  display: none;
}
